.button
{
    background-color: $nickel;
    border-radius: 50px;
    color: $white;
    height: 51px;
    line-height: 51px;
    text-decoration: none;
    padding: 10px 10px;
    font-family: $roboto;
    font-weight: $regular;
    text-align: center;

    &:hover
    {
        background-color: $light-gray;
    }

    &:focus
    {
        border: 3px solid $light-gray;
    }

    &__medium
    {
        width: 182px;
    }

    &__small
    {
        width: 115px;
    }
}