a.link{
    font-family: $raleway;
    font-weight: $light;
    text-decoration: none;

    &__primary
    {
        color: $ruddy-pink;
    }

    &__secondary
    {
        color: $raising-black;
    }

    &__light
    {
        color: $light-gray;
    }

    &__dark
    {
        color: $eerie-black;
    }

    &:hover
    {
        color: $raising-black;
    }

    &:active
    {
        color: $platinum;
    }
}