@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,900&family=Roboto:wght@300;400&display=swap');

//Font Family
$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;

//Font Weight
$light: 300; 
$regular: 400;
$black: 900; 

//Font Size
$xx-large: 70px;
$xm-large: 40px;
$x-large: 30px;
$medium: 16px;
$small: 12px;