@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700;900&display=swap');

//Font Family
$raleway: 'raleway',
sans-serif;
$opensans: 'open sans',
serif;

//Font Weight
$regular: 400;
$bold: 900;
$light: 300;

//Font Size
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;