.article {

    &__date {
        font-size: $medium;
        font-family: $raleway;
        color: $raising-black;
    }

    &__content {
        font-size: $medium;
        font-family: $raleway;
        color: $raising-black;
        line-height: 45px;
    }
}