.author {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $nickel;
    flex-direction: column;

    @include media-breakpoint-up(md) {
        & {
            justify-content: space-around;
            flex-direction: row;
        }
    }

    &__thumbnail {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        flex: 0 0 auto;
        
        @include media-breakpoint-up(md) {
            & {
                margin-right: 15px;
            }
        }

        &.thumbnail__small {
            @include thumbnail(130px);
        }

        &.thumbnail__normal {
            @include thumbnail(140px);
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;
        margin-left: 15px;
        margin-right: 15px;
        align-items: center;

        @include media-breakpoint-up(md) {
            & {
                align-items: flex-start;
            }
        }

        &__name {
            font-family: $playfair;
            font-weight: $black;
            font-size: $x-large;
            font-style: italic;
            white-space: nowrap;
        }

        &__links {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include media-breakpoint-up(md) {
                & {
                    align-items: flex-start;
                }
            }
        }
    }

    &__bio {
        flex: 1 1 auto;
        margin-left: 15px;

        p {
            margin-bottom: 0px;
        }
    }
}