.footer {
    background-color: $raising-black;
    height: 150px;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up($bp-small) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        color: $spanish-gray;
        display: flex;
        margin: 30px;
        justify-content: space-between;
        text-align: center;
        font-size: $medium;
        font-family: $raleway;
        font-weight: $regular;

        h5 {
            @include media-breakpoint-up($bp-small) {
                padding-right: 30px;
            }
        }

    }

    &__info__copyright {
        color: $white;
        display: flex;
        justify-content: center;
        text-align: center;

    }
        h5 {
            color: $spanish-gray;
            margin: 0px;
            font-size: $medium;
            font-family: $raleway;
            font-weight: $regular;
            text-align: center;
        }
    }