.header {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 4;

    &__navbar {
        background-color: $white;
        color: $raising-black;
        height: 96px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &__logo {
            font-size: $xxxxx-large;
            font-family: $raleway;
            font-weight: 900;
            position: relative;

            sup {
                font-size: $medium;
                font-weight: 700;
                color: $raising-black;
                display: block;
                position: absolute;
                top: 5px;
                right: -18px;
            }
        }

        .navbar-collapse {
            display: none;
        }

        &__toggler {
            border: none;
            text-align: center;
            color: $raising-black;
            background-color: transparent;

            &__icon {
                background: none !important;
                font-size: 35px;
                color: $raising-black;
            }

        }

        &__menu {
            .nav-link {
                color: $white !important;

                &.active {
                    color: $fuzzy-wuzzy !important;
                }
            }
        }
    }
}