.header {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 4;

    &__navbar {
        background-color: $white;
        color: $raising-black;
        height: 96px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @include media-breakpoint-up($bp-small) {
            height: 120px;
        }

        &__logo {
            font-size: $xxxxx-large;
            font-family: $raleway;
            font-weight: 900;
            position: relative;
            flex: 0 0 auto;

            sup {
                font-size: $medium;
                font-weight: 700;
                color: $raising-black;
                display: block;
                position: absolute;
                top: 5px;
                right: -18px;
            }
        }

        &__toggler {
            border: none;
            text-align: center;
            color: $raising-black;
            background-color: transparent;

            @include media-breakpoint-up($bp-small) {
                display: none;
            }

            &__icon {
                background: none !important;
                font-size: 35px;
                color: $raising-black;
            }

        }

        &__menu {
            flex: 1 1 100%;
            margin-left: 30px;
            display: none;

            @include media-breakpoint-up($bp-small) {
                display: flex;
                justify-content: space-between;
            }

            .nav-link {
                color: $nickel;
                text-decoration: none;
                font-family: $raleway;
                font-size: 18px;
                font-weight: $regular;
                margin-left: 15px;
                width: 100%;
                justify-content: flex-start;

                &.register {
                    color: $white;
                    background-color: $ball-blue;
                    padding: 8px 15px;
                }
            }
        }
    }
}